

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @player.contact %>
</p>

<% if @player.date_of_birth.present? %>
<p>
  <strong>Date_of_birth:</strong>
  <%= formatted_date(@player.date_of_birth) %>
</p>
<% end %>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>


<%= render "notes/note" %>


<%= render "notes/form" %>


<%# <h2>Versions</h2>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Modifier</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
</table> %>
