<%= form_with(model: @post) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :post_file %>
    <%= form.file_field :post_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>